
.animateContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonBorrow {
    /* min-width: 300px; */
    /* min-height: 60px; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-size: 22px; */
    /* text-transform: uppercase; */
    /* letter-spacing: 1.3px; */
    /* font-weight: 700; */
    color: #fff;
    background: #0C1335;
  background: linear-gradient(45deg, #0b8793 0%, #360033 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(112, 244, 231, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

    /* on hover change */
  
    .buttonBorrow::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(220px + 12px);
    min-height: calc(64px + 12px);
    border: 6px solid #339586;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .buttonBorrow:hover, .button:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  .buttonBorrow:hover::before, .buttonBorrow:focus::before {
    opacity: 1;
  }
  
  .buttonBorrow::after {
    content: '';
    /* width: 30px; height: 30px; */
    border-radius: 100%;
    border: 3px solid #60dcc3;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .buttonBorrow:hover::after, .buttonBorrow:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }