/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */
  
  .swiper {
    /* width: 100%; */
    /* height: 100%; */
  }

  #bestSellingSwiper {
     width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  
/* .swiper-slide:nth-child(1n) {
  background-color: none;
}

.swiper-slide:nth-child(2n) {
  background-color: none;
}

.swiper-slide:nth-child(3n) {
  background-color: none;
}

.swiper-slide:nth-child(4n) {
  background-color: none;
}

.swiper-slide:nth-child(5n) {
  background-color: none;
}

.swiper-slide:nth-child(6n) {
  background-color: none;
}

.swiper-slide:nth-child(7n) {
  background-color: none;
}

.swiper-slide:nth-child(8n) {
  background-color: none;
}

.swiper-slide:nth-child(9n) {
  background-color: none;
}

.swiper-slide:nth-child(10n) {
  background-color: none;
}
   */