.content {
    position: relative;
}
.p1 {
    position: absolute;
    /* transform: translate(-50%, -50%) */
}
.content p:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #8958A4;
}
.content p:nth-child(2) {
    color: #8958A4;
    animation: animate 4s ease-in-out infinite;
    animation-duration: 1s;
   
}



@keyframes animate {
    0%, 100%
    {
        clip-path: polygon(0% 54%, 4% 50%, 15% 44%, 21% 43%, 36% 42%, 44% 46%, 49% 48%, 57% 53%, 68% 56%, 75% 57%, 89% 57%, 96% 53%, 100% 49%, 100% 100%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0% 41%, 5% 48%, 13% 51%, 18% 53%, 25% 53%, 33% 51%, 38% 49%, 46% 43%, 50% 40%, 55% 37%, 65% 34%, 73% 35%, 82% 36%, 86% 38%, 89% 43%, 92% 45%, 94% 49%, 99% 53%, 100% 56%, 100% 99%, 0% 100%);
    }
}



  
