
/* button animation */


.buttonAnimation {
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  
  /* font-family: "Source Code Pro"; */
  /* font-weight: 900; */
  /* text-transform: uppercase; */
  /* font-size: 30px;   */
  color: white;
  
  background-color: #339586;
  box-shadow: #207468 2px 4px 4px;
  border-radius: 4px; 
  z-index: 10;  
  overflow: hidden;   
}

.buttonAnimation:focus {
  outline-color: transparent;
  box-shadow: #339586 2px 2px 22px;
}

/* .right::after, .buttonAnimation::after {
  content: "View All";
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events:none;
} */

.buttonAnimation::after{
  font-weight: 200;
  top: -30px;
  left: -20px;
} 

/* .right, .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
} */
/* .right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  
  background-color: #339586;
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

.buttonAnimation:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

.buttonAnimation .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

.buttonAnimation .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
} */

/* bubbles */
.buttonAnimation::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, #fff 3px, #fff 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, #fff 3px, #fff 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, #fff 5px, #fff 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}








  
  .swiper {
    /* width: 100%; */
    height: 100%;
  }
 
  #bestSellingSwiper {
     width: 100%;
    height: 100%;
  }

  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 430px; */
    background: transparent;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -5px;
    left: 0;
    width: 100%;
}


.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
  height: 550px;
}





@media only screen and (max-width: 426px){
  .swiper-pagination-bullet {
    display: none;
  }

  #swipeText{
    display: block;
  }
 
}